<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit(form)">
          <div class="form-group">
              <div class="form-group">
                  <label for="title">Title</label><br>
                  <input type="text" name="title" placeholder="Title" formControlName="title">
                  <p *ngIf="form.get('title').hasError('minlength')" class="error">Minimum 3 characters.</p>
                  <p *ngIf="form.get('title').hasError('required')" class="error">Required.</p>
              </div>
              <div class="form-group">
                  <label for="description">Description</label><br>
                  <input type="description" name="email" placeholder="description" formControlName="description">
                  <p *ngIf="form.get('description').hasError('minlength')" class="error">Minimum 3 characters.</p>
                  <p *ngIf="form.get('description').hasError('required')" class="error">Required.</p>
              </div>
              <div class="form-group">
                  <label for="category">Category</label><br>
                  <select formControlName="category" id="category" class="form-control">
                    <option *ngFor="let category of categoryList" [value]="category">{{category}}</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="status">Status</label><br>
                <select formControlName="status" id="status" class="form-control">
                  <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
                </select>
            </div>
              <div class="form-group">
              <label for="price">Price</label><br>
              <input type="price" name="price" placeholder="Price" formControlName="price">
              <p *ngIf="form.get('price').hasError('minlength')" class="error">number </p>
              <p *ngIf="form.get('price').hasError('required')" class="error">Required.</p>
          </div>
          <div class="form-group">
            <label>Photo Upload  </label><br>
                <input type="file" accept="image/*" (change)="onSelectFile($event)">
                <img [src]="imgURL" height="200" *ngIf="imgURL">
        </div>
          <div class="form-group">
              <button  class="btn btn-primary">
                  Submit
              </button>
          </div>
        </div>
      </form>
  </div>
</div>
