.global{
  background-color: #35d14eff;
  font-size: 18px;
  height: 65px;
  width: 75%;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.search {
  position: relative;
  display: inline;
  left: 15px;
}

.global a {
  color: white;
  text-decoration: none;
  margin-bottom: -50px;
  margin-left: 50px;
  display: inline;
  position: relative;
}

img {
  margin-top: 0;
  width: 150px;
  padding: 0px;
  display: inline;
}

#account img {
  position: relative;
  height: 50px;
  width: 50px;
  display: inline;
  margin-bottom: 0px;
}

#message img {
  position: relative;
  height: 30px;
  width: 50px;
  display: inline;
}

