<div class="global">
  <a  id="logo"> <img src="assets/img/logo.png"></a>
  <section class="search">
    <input type="text" placeholder="search..."  />
  </section>
  <a class ="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="current">Home</a>
        <a  *ngIf="isLoggedIn" class = "nav-item nav-link" [routerLink]="['/add']" routerLinkActive="active">Create new</a>
        <a  *ngIf="isLoggedIn" class = "nav-item nav-link" [routerLink]="['/useradds']" routerLinkActive="active">My adds</a>
        <a  class = "nav-item nav-link" [routerLink]="['/user']" routerLinkActive='active' id="account"><img src="assets/img/account.png"></a>
        <a class="nav-item nav-link" [routerLink]="['/register']" routerLinkActive='active'>Register</a>
        <a *ngIf="!isLoggedIn" class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive='active'>Login</a>
        <a *ngIf="isLoggedIn" class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive ='active' (click)="logout()">Logout</a>
</div>

