.card {
    margin-left: 25px;
    color: #35d14eff;
}

.card h4 {
    font-weight: bold;
}

.card label {
    font-weight: normal;
}

.card button {
    background-color: #35d14eff;
}

.card input {
    width:33%;
}