div {
    border: #35d14eff;
    border-style: solid;
    border-width: 5px;
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
    margin-right: 36px;
    margin-left: 36px;
    margin-bottom: 50px;
    float:left
  }
  
  div img {
    width: 240px;
    height: 240px;
    z-index: 0;
    object-fit: cover;
  }
  
  .itemText {
    display: inline;
    position: relative;
    margin-left: 0px;
    bottom: 27px;
    z-index: -1;
    background-color: #35d14eff;
    width: auto;
    height: 30px;
    z-index: 1;
    color: white;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }