<div class="container-fluid">
  <div class="row">
    <h3>Message</h3>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <textarea type="text" name="message" class="form-control" [(ngModel)]="messageText"></textarea>
      <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
      <p *ngIf="state === editorState.send">Message send!</p>
    </div>
  </div>
</div>
