<div *ngIf="user">
        <h1>{{user.username}}</h1>
        <p><label>name:</label> {{user.firstName}}</p>
        <p><label>Last name:</label> {{user.lastName}}</p>
        <p><label>E-mail:</label> {{user.email}}</p>
        <p><label>Birthday:</label> {{user.birthday}}</p>
        <div *ngIf=user.address>
          <h3>Address</h3>
          <p><label>Street:</label> {{user.address.streetName}}</p>
          <p><label>Number:</label> {{user.address.number}}</p>
          <p><label>Addition:</label> {{user.address.addition}}</p>
          <p><label>Bus:</label> {{user.address.bus}}</p>
          <p><label>City:</label> {{user.address.city}}</p>
          <p><label>Postal code:</label> {{user.address.postalCode}}</p>
          <p><label>Country:</label> {{user.address.country}}</p>
        </div>


<app-user-change-form
  *ngIf="user && state === editorState.editing"
  [user]="user"
  (onSubmit)="updateUser(user)"
  >
</app-user-change-form>

<button
  type="button"
  class="edit"
  (click)="toggleEditing()"
  [hidden]="state === editorState.deleted"
>
  {{ state === editorState.editing ? "Cancel" : "Edit profile" }}
</button>
<button
  type="button"
  (click)="deleteUser()"
  [hidden]="state === editorState.deleted"
  class="delete"
>
  Delete Account
</button>
<p [hidden]="state !== editorState.updated" class="update-message">
  Account update successful.
</p>
<p [hidden]="state !== editorState.deleted" class="delete-message">
  Account deleted.
</p>
