<div class="container" >
  <div class="imageItem">
      <img [src]="retrievedImage" width="200">
  </div>
  <div>
    <label> Title: </label>
    <p>{{item.title}}</p><br>
    <label>Category:</label>
    <p>{{item.category}}</p> <br>
    <label>Description:</label>
     <p>{{item.description}}</p><br>
     <label>Price:</label>
     <p>&euro; {{item.askPrice}}</p><br>
  </div>
<app-item-form
  *ngIf="item && state === editorState.editing"
  [add]="item"
  (onSubmit)="updateItem($event)"
></app-item-form>
<button
  type="button"
  class="edit"
  (click)="toggleEditing(editing)"
  [hidden]="state === editorState.deleted"
>
  {{ state === editorState.editing ? "Cancel" : "Edit Add" }}
</button>
<button
  type="button"
  (click)="deleteItem(id)"
  [hidden]="state === editorState.deleted"
  class="delete"
>
  Delete Add
</button>
<p [hidden]="state !== editorState.updated" class="update-message">
  Add update successful.
</p>
<p [hidden]="state !== editorState.deleted" class="delete-message">
  Add deleted.
</p>
