.card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #35d14eff;
}

.card h4 {
    font-weight: bold;
}

.card label {
    font-weight: normal;
}

.card button {
    background-color: #35d14eff;
}

.card input {
    width:33%;
}

.card-header {
    color: #35d14eff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}