<!--
<section class="search">
  <input type="text" placeholder="search..." #searchTerm (keyup)="search(searchTerm.value)" />
</section> -->

<div>
    <app-item
    *ngFor="let item of itemList"
    [item]="item"
    class="isLink"
    routerLink="/item/{{item.id}}">
  </app-item>
</div>
