.imageItem {
    border: #35d14eff;
    border-style: solid;
    border-width: 5px;
    width: 250px;
    height: 250px;
}

.imageItem img {
    width: 240px;
    height: 240px;
    z-index: 0;
    object-fit: cover;
  }

  div label {      
    color: #35d14eff;
  }

  button {
    background-color: #35d14eff;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    height: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.container-fluid ul {
    list-style: none;
}

.container-fluid h3 {
color: #35d14eff;
}