
  <div class="container">
    <div class="imageItem">
        <img [src]="retrievedImage" width="200">
    </div>

    <div>
      <label> Title: </label>
      <p>{{item.title}}</p><br>
      <label>Category:</label>
      <p>{{item.category}}</p> <br>
      <label>Description:</label>
       <p>{{item.description}}</p><br>
       <label>Price:</label>
       <p>&euro; {{item.askPrice}}</p><br>
    </div>


    <app-chat
    *ngIf="item && state === editorState.editing"
    [add]="item" [receiver]="user" [conversation]="conv">

    </app-chat>
  <button
  type="button"
  class="edit"
  (click)="toggleEditing(editing)"
  [hidden]="state === editorState.deleted"
>
  {{ state === editorState.editing ? "Cancel" : "Chat" }}
</button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <h3>Offer</h3>
      <textarea type="text" name="message" class="form-control" [(ngModel)]="bidPrice" ></textarea>
      <button type="button" class="btn btn-success pull-right" (click)="sendBod()">Offer</button>
      <p *ngIf="state === editorState.send">Bod send!</p>
      <p *ngIf="state === editorState.error">Bod is laag!</p>
      <p *ngIf="state === editorState.offered">Bod is geplaats!</p>
    </div>
  </div>
  <div >
    <ul *ngFor="let item of bids">
     <li><label>{{item.user.username}}</label> :  &euro; {{item.bidPrice}} </li>
    </ul><br>
  </div>
</div>

